services:
  - type: web
    name: auraconnect-app
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: node server/index.js
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: PORT
        value: 10000
      - key: HOST
        value: 0.0.0.0
      - key: MONGO_URI
        sync: false
      - key: FILE_BASE_URL
        sync: false
      - key: CORS_ORIGIN
        sync: false
    autoDeploy: true
